RestAndSoap/Let'sGoBiking/RouteService/Connected Services/ProxyServ/ProxyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProxyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8753/LetsGoBiking/ProxyCacheService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8753/LetsGoBiking/ProxyCacheService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8753/LetsGoBiking/ProxyCacheService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyCacheService" />
      <xsd:import schemaLocation="http://localhost:8753/LetsGoBiking/ProxyCacheService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxyService_GetContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContracts" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetStationsForContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsForContract" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetStationsForContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsForContractResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetAllContractCenters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractCenters" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetAllContractCenters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractCentersResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxyService">
    <wsdl:operation name="GetContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/GetContracts" message="tns:IProxyService_GetContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/GetContractsResponse" message="tns:IProxyService_GetContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsForContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/GetStationsForContract" message="tns:IProxyService_GetStationsForContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/GetStationsForContractResponse" message="tns:IProxyService_GetStationsForContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContractCenters">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/GetAllContractCenters" message="tns:IProxyService_GetAllContractCenters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/GetAllContractCentersResponse" message="tns:IProxyService_GetAllContractCenters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxyService" type="tns:IProxyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContracts">
      <soap:operation soapAction="http://tempuri.org/IProxyService/GetContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsForContract">
      <soap:operation soapAction="http://tempuri.org/IProxyService/GetStationsForContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContractCenters">
      <soap:operation soapAction="http://tempuri.org/IProxyService/GetAllContractCenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyService">
    <wsdl:port name="BasicHttpBinding_IProxyService" binding="tns:BasicHttpBinding_IProxyService">
      <soap:address location="http://localhost:8753/LetsGoBiking/ProxyCacheService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>